html, body{
	margin: 0;
}
#addSkill{
}
#skillTable{
	border-collapse: collapse;
}
#skillTable th,td{
	border: solid 1px;
	text-align: center;
}
#skillList_unit{
	display:;
}
#canvas{
	margin-top: 10px;
	width: 4000px;
	height: 1000px;
	overflow-x: scroll;
}
#grand_unit{
	display:;
}
